.my-nav-text {
    position: absolute;
    opacity: 0;
    transition: padding-right 0.5s, position 0s, opacity 0s;
    padding-right: 0;
}

.my-nav:hover .my-nav-text {
    opacity: 1;
    position: static;

    padding-right: 10px;
}